<mjml>
  <mj-head>
    <mj-attributes>
      <mj-all padding="0px"></mj-all>
      <mj-text font-family="Ubuntu, Helvetica, Arial, sans-serif" padding="0 25px" font-size="13px"></mj-text>
      <mj-section background-color="#ffffff"></mj-section>
    </mj-attributes>
  </mj-head>

  <mj-body background-color="#4F46E5">
    <mj-section>
      <mj-column width="100%">
      </mj-column>
    </mj-section>

    <mj-section padding-bottom="20px" padding-top="10px">
      <mj-column>
        <!-- Titre principal -->
        <mj-text align="center" padding="10px 25px" font-size="20px" color="#512d0b">
          <strong>Bonjour,</strong>
        </mj-text>

        <!-- Message de réinitialisation -->
        <mj-text align="center" font-size="18px" font-family="Arial" padding="10px 25px">
          Pour réinitialiser votre mot de passe, veuillez utiliser le code suivant :
        </mj-text>

        <!-- Code de réinitialisation -->
        <mj-text align="center" color="#489BDA" font-size="25px" font-family="Arial, sans-serif" font-weight="bold" line-height="35px" padding-top="20px">
          <span style="background:#4F46E5;padding:10px 15px;border-radius:5px;font-size:22px;color:#FFFFFF;font-weight:bold;display:inline-block;">
            {{code}}
          </span>
        </mj-text>

        <!-- Note sur le code -->
        <mj-text align="center" color="#000000" font-size="14px" font-family="Arial, sans-serif" padding-top="20px">
          Merci de prendre en compte seulement le dernier code reçu.
        </mj-text>

        <!-- Signature -->
        <mj-text align="center" color="#000000" font-size="14px" font-family="Arial, sans-serif" padding-top="40px">
          L'équipe CollectionLink
        </mj-text>
      </mj-column>
    </mj-section>
  </mj-body>
</mjml>